Book "A Smart Way To Learn Python"

In [5]:
print("Hello World")

Hello World

In [7]:
print("My name is Usman")

My name is Usman

Data Typed in python
INTEGER
FLOAT
STRING
BOOLEAN

Working with Variables

In [9]:
x = 5
y = 10

In [12]:
print(x)
print(y)

5
10

In [13]:
personname = "Usman"

In [14]:
print(personname)

Usman

In [15]:
personage = 23

In [16]:
print(personname,personage)

Usman 23

In [17]:
percentage = 23.4

In [18]:
print(percentage)

23.4

In [19]:
percentage

23.4

how to check type of variable

In [21]:
type(percentage)

float

In [26]:
type(personname)

str

In [27]:
type(personage)

int

comments in pythone use # sign

In [29]:
#personage = 56
personname = "Test"

In [30]:
print(personname)

Test

multiple line comment use """

In [32]:
"""
print(personname)
print(personage)
"""

'\nprint(personname)\nprint(personage)\n'

multi line string use as you written

In [33]:
msg="""Hello World

This is A.I Class

we are learning python
    jupyter notebook
Anaconda
"""

In [34]:
print(msg)

Hello World

This is A.I Class

we are learning python
    jupyter notebook
Anaconda

In [35]:
type(msg)

str

to check all methodes thats available thats who call

In [36]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Using available methods e.g chane string into capital

In [38]:
name = "usman yaseen"

use "shift tab" to check any details of variables e.g name.(shift tab)
to call all methode that available when we add . click "Tab" after "."

In [39]:
name.upper()

'USMAN YASEEN'

Reasign any string into previous string

In [40]:
name = name.lower()

In [41]:
print(name)

usman yaseen

change usman "U capital" & yaseen "Y Capital"

In [43]:
name.title()

'Usman Yaseen'

other practice

In [44]:
name = "Usman Yaseen"
classPerson = "A.I"
age = "23"
percentage = 81

print methods to print our data

In [45]:
print(name)
print(classPerson)
print(age)
print(percentage)

Usman Yaseen
A.I
23
81

In [47]:
print("Person Name:",name)
print("Person Class:",classPerson)
print("Person Age:",age)
print("Person Percentage:",percentage)

Person Name: Usman Yaseen
Person Class: A.I
Person Age: 23
Person Percentage: 81

In [48]:
print("Person Name",name, "Class",classPerson, "Age",age, "Percentage",percentage)

Person Name Usman Yaseen Class A.I Age 23 Percentage 81

In [49]:
print("Person Name",name, "\nClass",classPerson, "\nAge",age, "\nPercentage",percentage)

Person Name Usman Yaseen
Class A.I
Age 23
Percentage 81

String Concatination

In [51]:
print("Person Name: " + name)

Person Name: Usman Yaseen

String Formating Function

In [52]:
studentData = """Name: Usman Yaseen
Class A.I 
Age 23 
Percentage 81
"""
print(studentData)

Name: Usman Yaseen
Class A.I
Age 23
Percentage 81

use "{}" to pas empty data

In [53]:
studentData = """Name: {}
Class {}
Age {}
Percentage {}
"""
print(studentData)

Name: {}
Class {}
Age {}
Percentage {}

Passing Above declare Variables into last Statement 53 e.g parameter passing

In [55]:
print(studentData.format(name,classPerson,age,percentage))

Name: Usman Yaseen
Class A.I
Age 23
Percentage 81

Passing any custom into last Statement 53 e.g parameter passing

In [56]:
print(studentData.format("Test","Data Science","55","100"))

Name: Test
Class Data Science
Age 55
Percentage 100

Assignment

In [58]:
name = "M Usman"
marks = "98"
university = "PIAIC"

In [59]:
dataFormat = """
Name = {}
Marks = {}
University = {}
"""
print(dataFormat)

Name = {}
Marks = {}
University = {}

In [60]:
print(dataFormat.format(name,marks,university))

Name = M Usman
Marks = 98
University = PIAIC

In [62]:
print(dataFormat.format("Farhan","800","BU"))

Name = Farhan
Marks = 800
University = BU

Another way to format Data

In [66]:
dataFormat = """
Name = {}
Marks = {}
University = {}
""".format(name,marks,university)

In [67]:
print(dataFormat)

Name = M Usman
Marks = 98
University = PIAIC

Now working with integer

In [68]:
x = 5
y = 5

In [69]:
print(x + y)

10

In [70]:
print(x * y)

25

In [71]:
print(x / y)

1.0

In [72]:
z = x + y

In [73]:
print(z)

10

In [74]:
print(x,y,z)

5 5 10

In [75]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

Next Class Task (Basic Methods of Arithimatic 4 Examples)

In [77]:
print("Test")

Test