# Book A Smarter Way to Learn Python

# Chapter 1 - Print

In [7]:
2+3

5

In [8]:
2*3**2-4+5/2 # Solve this via PEMDAS rule
2*9-4+5/2
18-4+5/2
20.5-4
16.5

16.5

PEMDAS Rule
* P Parenthesis ()
* E Exponent (Power) **
* M Multiplication *
* D Division /
* A Addition +
* S Substraction -

In [10]:
2+3 #Line of code (Written in each line)
4-5 # computer program, program, code, algorithm (whole lines of code)

-1

In [12]:
print(2+3)
4-5

5

-1

In [14]:
print(2+3)
print(4-5)

5
-1

In [15]:
print(2,3,5)

2 3 5

# Chapter 2 - Variable and Data Types

In [16]:
2+3

5

In [17]:
num = 2+3

In [18]:
num

5

In [19]:
number = 5+2

In [20]:
number

7

# Rules for making Variables

# Legal Variable

* letter, underscore, number
* number can not come at the beginning
* built in language keyword cannot use as legal variable

In [21]:
my name = "Usman" #illegal

SyntaxError: invalid syntax (<ipython-input-21-0fc7bbe6fb7f>, line 1)

In [22]:
my_name = "Usman" #legal

In [23]:
my_name1 = "Usman" #legal

In [27]:
1st_name = "Isman" #illegal

SyntaxError: invalid syntax (<ipython-input-27-e79d88b70b71>, line 1)

In [26]:
my-name = "Usman" #illegal

SyntaxError: can't assign to operator (<ipython-input-26-a17416207cfb>, line 1)

In [31]:
position = "1st"

In [34]:
dollar_notation = "$2.33"

In [37]:
class2 = 'python'

In [38]:
my_num = "23"

# Data Types

In [39]:
string = " "

In [44]:
type(string)

str

In [45]:
print(type(num))

<class 'int'>

In [46]:
decimal = 2.3

In [47]:
print(type(decimal))

<class 'float'>

In [48]:
type(decimal)

float

In [49]:
num  + 2.3

7.3

In [50]:
num

5

In [54]:
num = num+2.3 # = is equal assignment operator

In [55]:
num

9.6

In [56]:
num = num + "2.3"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [57]:
num += 2.3  # num = num +2.3

In [58]:
num

11.899999999999999

In [60]:
round(11.5689, 2)

11.57

In [61]:
num -= 5

In [62]:
num

6.899999999999999

In [63]:
num *= 2

In [64]:
num

13.799999999999997

In [65]:
num /= 2

In [66]:
num

6.899999999999999

In [67]:
num =- 5

In [68]:
num

-5

In [69]:
num = 6.899999999999999

In [70]:
num

6.899999999999999

In [71]:
my_name1

'Usman'

In [77]:
my_name2 = "Yaseen"

In [78]:
my_name1 + my_name2

'UsmanYaseen'

In [80]:
my_name1 +" "+ my_name2

'Usman Yaseen'

In [81]:
num

6.899999999999999

In [82]:
str(num)

'6.899999999999999'

# type casting
1st check capability of conversion because every thing is not type cast
e.g string to int
but every thing is convert into String
* convert int to string
* convert string to int

In [85]:
num = str(num) + "2.3"
num

'6.8999999999999992.32.3'

In [86]:
num = 11.9

In [87]:
num = 11.9 + float("2.3")

In [88]:
num

14.2

In [90]:
num = 11.9 + int(float("2.3"))
num

13.9

In [91]:
#unfamiliar Operators
n = 5%2  # Modulo (%) gives you reminder
n

1

In [93]:
floor_div = 5//2 # floor division // is ka answer int main ata hy or simple division main answer float main ata hy like 2/2=1.0
floor_div

2

In [94]:
floor2 = 4//2
floor2

2