# Class for Week 3 of Python

# Assignment
# 1. Indexing

Write code for retriving values from list by indexing and print a statement message for given lists

# Example 1
employee_data = ['Ali', 125000, 'Google', 5]

*output: 'Ali is working in Google for 5 years and his salary is 125000'

# Example 2
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']
                
*output:

'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 January 2020.
Your classes will start from 05 February 2020.
Thanks'
hint: Use list indexing and string format methods

# Solution of Example 1

In [36]:
employees_data = ["Ali", 125000, "Google", 5]
output1 = """{employees_data[0]} is working in {employees_data[2]} for {employees_data[3]} years and his salary is {employees_data[1]}"""

print (output1.format (employees_data=employees_data))

Ali is working in Google for 5 years and his salary is 125000

# Solution of Example 2

In [35]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
               '28 Januray 2020', '05 February 2020']
output2 = """Hello {studentData[0]} {studentData[1]}
Your application is accepted for admission in {studentData[4]} {studentData[3]} in {studentData[2]}.
You have to submit fee {studentData[5]} before {studentData[6]}.
Your classes will start from {studentData[7]}.
Thanks"""

print (output2.format (studentData=studentData))

Hello Ahmed Bilal
Your application is accepted for admission in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

# 2. Slicing

You have a list of cities given as follows. Use positive and negative slicing methods to print out following outputs:

cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

# Outputs:

# (For positive slicing)
1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
3. ["Sahiwal", "Rawalpindi", "Sialkot"]

# (For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [42]:
# (For positive slicing)
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print(cities[0:4])
print(cities[2:6])
print(cities[5:])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [50]:
# (For negative slicing)
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print(cities[-4:-1])
print(cities[-5:])

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists
You have a list of student information. You need to update it for following statements

studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

*Add values to this list using append

1. '20 February 2019'
2. 8

*Use insert method to insert at specific index

1. 25000 at index 4
2. 'M. Iqbal' at index 1

*Update list using list update method:

1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7

*Remove values from list using remove method

1. 'Computer Science'
2. 91.24

*Remove using pop method

1. Last value from list
2. value at 3rd index

In [57]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
#Add values to this list using append
studentData.append("20 February 2019")
studentData.append(8)
#Use insert method to insert at specific index
studentData.insert(4,25000)
studentData.insert(1, "M. Iqbal")
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [62]:
#Remove values from list using remove method
studentData.remove("Computer Science")
studentData.remove(91.24)
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [63]:
#Update list using list update method:
studentData[0] = "Zohaib Ali"
studentData[4] = 7
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [64]:
#Remove using pop method
studentData.pop(-1)
studentData.pop(3)
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4. Multidimensional list tasks
You have given data of an employee

employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
# For Loop
Tasks

1. Print name of employees with salaray greater than 50000.
2. Calculate total salary of all employees.
# List update tasks
1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
2. Change salary of Khalid to 50000

In [2]:
#Print name of employees with salaray greater than 50000.
employeeData = [["Ali", 35000, "Software Engineer"], ["Talha", 55000, "Product Manager"], ["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]
salary_gr_50k = []
for i in employeeData:
    salary = i[1] #getting all salaries
    if salary > 50000: #condition statement
        salary_gr_50k.append([i[0],i[1]])

In [3]:
print(salary_gr_50k)

[['Talha', 55000], ['Nasir', 79000]]

In [4]:
#Calculate total salary of all employees.
tot_salary = 0
for j in employeeData:
    tot_salary += j[1]

In [5]:
print(tot_salary)

213000

In [36]:
#Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
employeeData = [["Ali", 35000, "Software Engineer"], ["Talha", 55000, "Product Manager"], ["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]
employeeData[2][1] = 90000
#Change salary of Khalid to 50000
employeeData[3][1] = 50000
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer'],
 ['Khalid', 50000, 'DBA']]

# 5. Login User
You have given some users data. You have to write a script to check if username and password are correct. If username and password are correct. Then you have to check if email is verified or not. If it is verified then print Login Succeed else print Email not verified. If username or password are incorrect you have to print Incorrect Login details

# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [12]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False


if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print("Login Succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login details")

Email not verified

In [14]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print("Login Succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login details")

Login Succeed

In [15]:
if username == "faizan12145" and password == "qwerty":
    if emailVerified == True:
        print("Login Succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login details")

Incorrect Login details