In [1]:
employee1 = ['Waqas', 27, 'Male', 350000]

Dictionary is a key value pair

In [3]:
employee = {"Employee_Name":"Waqas","Age":27,"Gender":"Male","Salary":350000}

In [34]:
print(type(employee))
employee

<class 'dict'>

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Science'],
 'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}}

In [6]:
#We use Key Name to get Data,insert, etc operation
#List is Ordered Data Structure
#Dictionary is unordered Data Structure
#Dictionary is Case Sencitive
# 'List' 'Dictionary' is not used as Key  but also used in Value
employee["Age"]

27

In [8]:
employee["Employee_Name"] = "Muhammad Waqas"
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000}

In [9]:
employee["DOB"] = "06 Jan 1990"
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'DOB': '06 Jan 1990'}

In [10]:
employee.pop("DOB") #del employee["DOB"]

'06 Jan 1990'

In [11]:
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000}

In [12]:
employee["Position"] = "Senior A.I Lead"
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead'}

In [13]:
employee["Department"] = ["Finance","Data Science"]
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Science']}

In [14]:
employee1

['Waqas', 27, 'Male', 350000]

In [15]:
employee["sub_ordinate"] = {"employee1":"Shahzad", "employee2":"Noman"}
employee

{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Science'],
 'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}}

# Very Important Topic

In [16]:
employee1

['Waqas', 27, 'Male', 350000]

In [20]:
#Loop in List
for content in employee1:
    print(content)

Waqas
27
Male
350000

In [28]:
#loop in Dictionary 4 ways
#1st Way Simple Loop thats by default return only 'Key'
for content in employee:
    print(content)
# We Modify 1st Loop for our self and get keys with values
print("*" * 10, "Modify 1st Loop")
for content in employee:
    print(content, employee[content])

Employee_Name
Age
Gender
Salary
Position
Department
sub_ordinate
********** Modify 1st Loop
Employee_Name Muhammad Waqas
Age 27
Gender Male
Salary 350000
Position Senior A.I Lead
Department ['Finance', 'Data Science']
sub_ordinate {'employee1': 'Shahzad', 'employee2': 'Noman'}

In [30]:
#2nd Way Loop to get only keys
for key in employee.keys():
    print(key)

Employee_Name
Age
Gender
Salary
Position
Department
sub_ordinate

In [31]:
#3rd Way Loop to get only Values
for Value in employee.values():
    print(Value)

Muhammad Waqas
27
Male
350000
Senior A.I Lead
['Finance', 'Data Science']
{'employee1': 'Shahzad', 'employee2': 'Noman'}

In [33]:
#4th Way Loop to get only Values Sequence is first show key then value
for k,v in employee.items():
    print(k,":",v)

Employee_Name : Muhammad Waqas
Age : 27
Gender : Male
Salary : 350000
Position : Senior A.I Lead
Department : ['Finance', 'Data Science']
sub_ordinate : {'employee1': 'Shahzad', 'employee2': 'Noman'}

In [36]:
employees = [{'Employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Science'],
 'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}},
            ]

In [35]:
a = {'Employee_Name': 'Faizan',
 'Age': 22,
 'Gender': 'Male',
 'Salary': 350000,
 'Position': 'Senior A.I Lead',
 'Department': ['A.I', 'Data Science'],
 'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}

In [37]:
employees

[{'Employee_Name': 'Muhammad Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Science'],
  'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}}]

In [39]:
employees.append(a)

In [40]:
employees

[{'Employee_Name': 'Muhammad Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Science'],
  'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}},
 {'Employee_Name': 'Faizan',
  'Age': 22,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Science'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [49]:
employees[1]['Employee_Name'] = 'Faizan Amin'

In [42]:
employees

[{'Employee_Name': 'Muhammad Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Science'],
  'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}},
 {'Employee_Name': 'Faizan Amin',
  'Age': 22,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Science'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [43]:
employees[0]["Age"]

27

In [50]:
employees

[{'Employee_Name': 'Muhammad Waqas',
  'Age': 27,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Science'],
  'sub_ordinate': {'employee1': 'Shahzad', 'employee2': 'Noman'}},
 {'Employee_Name': 'Faizan Amin',
  'Age': 22,
  'Gender': 'Male',
  'Salary': 350000,
  'Position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Science'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [48]:
employees[1]["Department"][1]

'Data Science'

In [55]:
employees[0]["sub_ordinate"]['employee2']

'Noman'

In [56]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1]:
tableValue = int(input("Enter Value for Table"))

for i in range (1,11):
    print(f"{tableValue} * {i} = {i * tableValue}" end="\t")

Enter Value for Table10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100