# Class 3 Date:26-JAN-2020 09:00AM

In [ ]:
employee1_name = "Usman"
employee1_age = 23
employee1_gender = "Male"

# > List is Hetrogeneous and list Ordered & Data Structure

In [3]:
employee1 = ["Usman",23,"Male"]
type(employee1)
employee2 = []

In [4]:
employee2.append("Faizan")
employee2.append(22)
employee2.append("Male")

In [5]:
employee2

['Faizan', 22, 'Male']

In [6]:
employee2.append("Usman")
employee2.append(23)
employee2.append("Male")

In [7]:
employee2

['Faizan', 22, 'Male', 'Usman', 23, 'Male']

In [8]:
employee1.append(350000)
employee2.append(500000)

In [9]:
employee2

['Faizan', 22, 'Male', 'Usman', 23, 'Male', 500000]

In [12]:
employee3 = []

In [13]:

employee3.append("Usman")
employee3.append(23)
employee3.append("Male")
employee3.append(350000)

In [14]:
employee3

['Usman', 23, 'Male', 350000]

In [19]:
employee3.append("Usman")
employee3.append(23)
employee3.append("Male")
employee3.append(350000)

In [24]:
employee3[3]

'Male'

# List has two type of indexing

1. Positive indexing. its start from 0 from left to right
2. Negative indexing. its start from -1 from right to left

In [25]:
employee3

[0, 'Usman', 23, 'Male', 350000]

In [26]:
employee3[-2]

'Male'

# >Slicing

In [30]:
employee3[2:5]

[23, 'Male', 350000]

In [35]:
employee3[-5:]

[0, 'Usman', 23, 'Male', 350000]

In [34]:
employee3[:-2]

[0, 'Usman', 23]

In [36]:
employee4 = []

In [37]:
employee4.append("Usman")
employee4.append(23)
employee4.append("Male")
employee4.append(350000)

In [38]:
employee4

['Usman', 23, 'Male', 350000]

In [39]:
# insert any value in any location in List via .insert method
employee4.insert(1,"A.I Eng")
employee4

['Usman', 'A.I Eng', 23, 'Male', 350000]

In [40]:
employee3

[0, 'Usman', 23, 'Male', 350000]

In [41]:
# remove any value in list via .remove method
employee3.remove(0)

In [42]:
employee3

['Usman', 23, 'Male', 350000]

In [43]:
employee4

['Usman', 'A.I Eng', 23, 'Male', 350000]

In [46]:
# change/update any value in list via index number
employee4[0] = "Usman Yaseen"

In [47]:
employee4

['Usman Yaseen', 'A.I Eng', 23, 'Male', 350000]

In [48]:
print(employee4)

['Usman Yaseen', 'A.I Eng', 23, 'Male', 350000]

In [49]:
# delete any value from any were in list via index number
del employee4[-2]

In [50]:
employee4

['Usman Yaseen', 'A.I Eng', 23, 350000]

In [51]:
# remove any item from list if you don't remenber index number
employee4.remove('A.I Eng')

In [52]:
employee4

['Usman Yaseen', 23, 350000]

In [54]:
# find index number in any value in list via .index method
employee3.index("Male")

2

In [56]:
# get value from list and save into another via .pop method thats value cannot shown in list that poped
employee3.pop(-1)

'Male'

In [60]:
employee3

['Usman', 23, 'male']

In [61]:
# if you cannot pas index number in .pop then it by default pop last index value
employee3.pop()

'male'

In [62]:
employee1 = ["Usman",23,"Male",350000]
employee2 = ["Faizan",22,"Male",300000]

In [63]:
# list into list 
employees = [employee1, employee2,["Khurram",25,"Male",320000],["Saad",22,"Male",330000]]

In [64]:
employees

[['Usman', 23, 'Male', 350000],
 ['Faizan', 22, 'Male', 300000],
 ['Khurram', 25, 'Male', 320000],
 ['Saad', 22, 'Male', 330000]]

In [65]:
len(employees)

4

In [66]:
# enter into list and get value into inner list and total
total_salary = employees[0][-1]+employees[1][-1]+employees[-2][-1]+employees[-1][-1]

In [67]:
total_salary

1300000

# For Loop
* if data is to much tghen this list methoh is more time consuming then
* we are quickly an a.i person so we use For Loop
* we use For loop when make same work repeditly

In [68]:
tot_salary = 0
for item in employees:
    tot_salary += item[-1]

In [69]:
tot_salary

1300000

In [71]:
# getting only salaries from given list
salary = []
for i in employees:
    salary.append(i[-1])

In [72]:
salary

[350000, 300000, 320000, 330000]

In [74]:
# salary with name
salary_with_name = []
for i in employees:
    salary_with_name.append([i[0],i[-1]])

In [75]:
salary_with_name

[['Usman', 350000], ['Faizan', 300000], ['Khurram', 320000], ['Saad', 330000]]

In [77]:
# print in any thing in any range
for i in range(10):
    print(i,"Usman")

0 Usman
1 Usman
2 Usman
3 Usman
4 Usman
5 Usman
6 Usman
7 Usman
8 Usman
9 Usman

# >Conditional Statement
# >If Statement