In [1]:
data = ['Yasir Shah', 22, 300000, 'Male', 'A.I']

In [2]:
newData = [['Waqas', 27, 'Male', 350000], ['Faizan', 22, 'Male', 300000], ['Khurram', 25, 'Male', 320000], ['Saad', 23, 'Male', 200000]]

In [6]:
for listItem in newData:
    print("*" * 30)
    print(listItem)
    for value in listItem:
        print(value)

******************************
['Waqas', 27, 'Male', 350000]
Waqas
27
Male
350000
******************************
['Faizan', 22, 'Male', 300000]
Faizan
22
Male
300000
******************************
['Khurram', 25, 'Male', 320000]
Khurram
25
Male
320000
******************************
['Saad', 23, 'Male', 200000]
Saad
23
Male
200000

In [5]:
for i in range(10):
    for i

0
1
2
3
4
5
6
7
8
9

In [7]:
myList = [1,2,4,5]

# Tuples

In [8]:
data = (1,2,3,4)

In [9]:
data

(1, 2, 3, 4)

In [10]:
data[0]

1

In [11]:
studentData = ("Ali", 35, 98.4)

# Getting Value from User from Run Time

In [1]:
age = input("Enter Your Age:")

Enter Your Age:5

In [4]:
studentForm = []

In [6]:
x = input("How many Values you want to Enter: ")

x = int(x)
print(type(x))

for i in range(x):
    name = input("Enter Your Name: ")
    className = input("Enter Class name: ")
    studentForm.append([name,className])

How many Values you want to Enter2
<class 'int'>
Enter Your Name: Usman
Enter Class name: A.I
Enter Your Name: Shoaib
Enter Class name: A.I

In [7]:
studentForm

[['Usman', 'A.I'], ['Shoaib', 'A.I'], ['Usman', 'A.I'], ['Shoaib', 'A.I']]

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
num = 20
list(range(2,num,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
for value in list(range(2,20,2)):
    print(value)

2
4
6
8
10
12
14
16
18

In [9]:
tup = 1,2
type(tup)

tuple

In [11]:
t = (["Waqas", "Faizan"], "9 to 12", "Batch 4")
t

(['Waqas', 'Faizan'], '9 to 12', 'Batch 4')

In [12]:
t[0][0] = "Khurram"
t

(['Khurram', 'Faizan'], '9 to 12', 'Batch 4')